<!DOCTYPE html>
<html lang="en">
<%- include('../layouts/head.ejs', { pageTitle:'Cập nhật người dùng' }) %>
<body>
    <div class="container mb-5">
        <%- include('../layouts/navbar.ejs') %>
        
        <div class="card mt-4">
            <div class="card-header d-flex align-items-center justify-content-between">
                <h1 class="mb-0">Edit Form</h1>
                <a class="btn btn-secondary" onclick="window.history.back();">
                    <i class="fa fa-arrow-left"></i> Back
                </a>
            </div>
            
            <div class="card-body">
                <form action="/api/users/<%= user.id %>/edit" method="PUT">
                    <input type="hidden" name="_method" value="PUT">
                    <div class="mb-3">
                        <label for="firstName" class="form-label">First Name:</label>
                        <input type="text" class="form-control" id="firstName" name="firstName" value="<%= user.firstName %>" required>
                    </div>

                    <div class="mb-3">
                        <label for="lastName" class="form-label">Last Name:</label>
                        <input type="text" class="form-control" id="lastName" name="lastName" value="<%= user.lastName %>" required>
                    </div>
                    
                    <div class="mb-3">
                        <label for="isActive" class="form-label">Status:</label>
                        <input type="checkbox" class="form-check-input" id="isActive" name="isActive" <%= user.isActive ? 'checked' : '' %>><br>
                    </div>

                    <div class="text-end">
                        <button type="submit" class="btn btn-warning">Edit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>